td.thcol {
	font-size : 13px;

}

.sspdt_handling_icon {
	vertical-align : middle;
	padding-right : 6px;
}

.sspdt_thumb {
	text-align : left;
}

p.wp-caption-text {
	margin-bottom : 0px !important;
}

